<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/estilosbarras.css">
    <link rel="stylesheet" href="./assets/css/EstilosProyectos.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body>

    {{> header}}



        <h1 class="principal">MIS PROYECTOS</h1>
        <section class="swiper">
            <div class="swiper-wrapper">
            

                    <div class="swiper-slide">
                        <div class="centrar">
                            <h3>MRU y MRUV </h3>

                            <a href="./Proyecto5-MRU-MRUV">
                                <img class="Tamanio" src="./Img/Proyecto5.jpg" alt="">
                            </a>

                            <a href="./Proyecto5-MRU-MRUV"><button class="boton">Ver</button>

                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide ">
                        <div class="centrar">
                            <h3>APLICACION YARGS</h3>

                            <a href="./Proyecto6-Aplicacion-YARGS">
                                <img class="Tamanio" src="./Img/Proyecto6.png" alt="">
                            </a>

                            <a href="./Proyecto6-Aplicacion-YARGS"><button class="boton">Ver</button>

                            </a>
                        </div>
                    </div>



                    <div class="swiper-slide ">
                        <div class="centrar">
                            <h3>MONGO DB</h3>

                            <a href="./Proyecto7-MongoDB-Atlas">
                                <img class="Tamanio" src="./Img/Proyecto7.png" alt="">
                            </a>

                            <a href="./Proyecto7-MongoDB-Atlas"><button class="boton">Ver</button>

                            </a>
                        </div>
                    </div>





                    <div class="swiper-slide">
                        <div class="centrar">
                            <h3>TEOREMAS </h3>
                            <a href="./Proyecto1-Teoremas">
                                <img class="Tamanio" src="./Img/Proyecto1.jpg" alt="">
                            </a>

                            <a href="./Proyecto1-Teoremas"><button class="boton">Ver</button></a>
                        </div>

                    </div>
                    <div class="swiper-slide">
                        <div class="centrar">
                            <h3>ESTRUCTURA DE DATOS</h3>
                            <a href="./Proyecto2-Estructura-de-Datos">
                                <img class="Tamanio" src="./Img/Proyecto2.jpg" alt="">
                            </a>

                            <a href="./Proyecto2-Estructura-de-Datos"><button class="boton">Ver</button></a>
                        </div>

                    </div>

                    <div class="swiper-slide">
                        <div class="centrar">
                            <h3>GESTION DE PROCESOS PC</h3>
                            <a href="./Proyecto3-Gestion-de-Procesos">
                                <img class="Tamanio" src="./Img/Proyecto3.jpg" alt="">
                            </a>


                            <a href="./Proyecto3-Gestion-de-Procesos"><button class="boton">Ver</button></a>
                        </div>

                    </div>

                    <div class="swiper-slide">
                        <div class="centrar">
                            <h3>BASE DE DATOS</h3>

                            <a href="./Proyecto4-Base-de-Datos">
                                <img class="Tamanio" src="./Img/Proyecto4.png" alt="">
                            </a>

                            <a href="./Proyecto4-Base-de-Datos"><button class="boton">Ver</button>

                            </a>
                        </div>

                    </div>

            






            </div>


            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev flecha"></div>
            <div class="swiper-button-next  flecha " ></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>



        </section>
        {{> footer}}
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="./assets/javascript/swiper.js"></script>

</body>

</html>